<!--Head-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

<!--Meta Description--> 
    <meta name="description" content="{{page.description}}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2">

  <!--Jekyll feed-->
<link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml">

<!--Favicon-->
<link rel="icon" 
      type="image/png" 
      href="/images/favicon.png">


<!--Title-->
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>


  </head>
  
  <body>

<style>

{% include bootstrap.css %}
{% include Jstyle.css %}
{% include animate.css %}

</style>    