/*Main stylez page*/

.title {
    color:salmon;
}

.category {
    color:seagreen;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

li > a:hover,
li > a {
    color:grey;
}

.navs {
    padding:1%;
}

p {
    font-size: 1.2rem;
}

pre {
    border: 1px solid grey;
    padding:1%;
}

@media only screen and (max-width: 720px) {
    .title {
        font-size:3rem;
    }

}

