<div class="position-fixed navs">
        <div class="d-flex p-4 bg-transparent"></div>
        <div class="d-flex p-4 bg-transparent"></div>
        <div class="d-flex p-4 bg-transparent"></div>

    <a href="/"><h5>Doc-Ment</h5></a>

{% for category in site.categories %}
  <h3 class="category">{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a class="cat-link" href="{{ post.url }}">
          {{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
</div>