{% include head.html %}


<div class="card-group">
    <div class="card col-md-3">
            <div class="d-flex p-4 bg-transparent"></div>
            <div class="d-flex p-4 bg-transparent"></div>
            <div class="d-flex p-4 bg-transparent"></div>

{% include navbar.html %}
</div>

<div class="posts col-md-6 card">
        <h1 class="display-1 title text-center">
            Doc-Ment</h1>
        
        {% for post in site.posts %}
        <!--Post-->
        <div class="post">
          <h1 class="post-title text-center">
              <div class="nline"><a href=" {{ post.url }}">{{ post.title }}</a></div>
          </h1>
          <!--Date-->
            <p class="small post-date text-center">{{ post.date | date_to_string }}</p>

            <p>{{ post.content }}</p>
            <div class="d-flex p-4 bg-transparent"></div>
        {% endfor %}
    </div>
    </div>