{% include head.html%}
{% include navbar.html %}


<div class="d-flex justify-content-center">
<div class="col-md-6">
<h1 class="text-center display-4 title">
        <div class="d-flex p-4 bg-transparent"></div>
        <div class="d-flex p-4 bg-transparent"></div>

    {{ page.title }}</h1>
    {{content}}

</div>
</div>